@CHARSET "ISO-8859-1";

body {
	background-color: #eee;
}

* {
	font-family: Verdana;
}

.keys {
	font-family: monospace;
	width:36em;
	align:right;
}


label {
	width: 10em; 
	float: left;
}

label.error {
	float: none; 
	color: red; 
	padding-left: .5em; 
	vertical-align: top; 
}

th {
	text-align: left;
}

p {
	clear: both;
}

.submit {
	margin-left: 14em;
}

.alt{
	background-color: #eee;
}

.comment{
	color: #aaa;
	font-size:.5em;
	margin-left: 23.5em;
}

em { 
	font-weight: bold;
	color:red;
	padding-right: 1em; 
	vertical-align: top;
}

pre {
	margin:0em 0.5em;
}